{
  "env": {
    "development": {
      "presets": [
        [
          "es2015",
          {
            "modules": false
          }
        ],
        "stage-1",
        "react"
      ],
      "plugins": [
        "lodash",
        "transform-runtime",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "react",
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
      ]
    }
  },
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ]
}