*~
.idea/
.eslintcache
npm-debug.log
.DS_Store
tmp/*
**/node_modules/*
!node_modules/vydia

.vscode/

google-chrome-stable_current_amd64.deb

yarn-error.log
package-lock.json
npm-shrinkwrap.json

db_data/
data/

.next/